input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.h1 {
  color: rgb(114, 112, 112);
  font-size: 40px;
  font-family:sans-serif;

}

.btn-secondary {
border-radius: 5px;
height: 40px;
width: 300px;


}

#Myform {
  background-color: rgba(255, 0, 0, 0.11);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 1px 2px 12px 4px #77515148;

}
